@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
  --bg: bg-gray-50;
  --text: #111827;
  --primary: #3b82f6;
  --foreground: #242424;
  }
}

/* @theme {
  dark-mode: class;
} */

.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
}


body {
  background: var(--bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


